[class^="img-flex-"] {
	margin-bottom: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.img-flex-2 img { width: cac(100%/2); }
.img-flex-3 img { width: calc(100%/3); }
.img-flex-4 img { width: calc(100%/4); }
.img-flex-13 img { width: calc(100%/13); }