/* [class^="img-flex-"] {
	margin-bottom: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.img-flex-2 img { width: 20px; }
.img-flex-3 img { width: 32%; }
.img-flex-4 img { width: 24%; } */

img {
	width: 25%;  /* 横幅に合わせて自動で拡大縮小する */
 }