@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
header{
	padding: 1pt;
	background-color: teal;
}
body{
	-webkit-text-size-adjust: none;	/* iPhoneのSafariで左上が拡大されて表示される場合の対処 */
	width: 100%;
	margin: 0 auto;
}

#swipe_area{
	background-color: white;
    text-align: center;
    width:100%;/* height:300px;*/
    position: relative;
}

#number{
	padding: 1em 0;
	font-family: Impact, Helvetica;
	font-weight: 90;
    font-size: 20pt;
    text-align: center;
}

[class^="img-flex-"] {
	margin-bottom: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/*Retinaディスプレイ対策で100%じゃなくて50%にする(これでいいかはわからん*/
.img-flex-2 img { width: calc(100%/2); }
.img-flex-3 img { width: calc(100%/3); }
.img-flex-4 img { width: calc(100%/4); }
.img-flex-13 img { width: calc(100%/13); height: auto;  }


/* @media screen and (min-width: 768px) and (max-width: 1024px) {
 
    /* タブレット用のcssを記述 */
	/* header h1{
		font-size: 20pt;
	}
	#contents{
		background-color: white;
		text-align: center;
	}
	#number{
		padding: 1em 0;
		font-family: Impact, Helvetica;
		font-weight: 900;
		font-size: 128pt;
	} */
	/* p{
		font-size: 18pt;
	} */
 
/*} */